/* Main */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Helpers */
/* Grid */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container,
.row {
  *zoom: 1; }
  .container:before,
  .row:before, .container:after,
  .row:after {
    content: " ";
    display: table; }
  .container:after,
  .row:after {
    clear: both; }

.container {
  width: 100%;
  margin: 0 auto; }

[class*='column-'] {
  float: left;
  padding: 0 10px;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 768px) {
  .row {
    margin: 0 -10px; }
  .container {
    width: 95%;
    max-width: 1150px; }
  .column-1 {
    width: 8.33333%; }
  .column-2 {
    width: 16.66667%; }
  .column-3 {
    width: 25%; }
  .column-4 {
    width: 33.33333%; }
  .column-5 {
    width: 41.66667%; }
  .column-6 {
    width: 50%; }
  .column-7 {
    width: 58.33333%; }
  .column-8 {
    width: 66.66667%; }
  .column-9 {
    width: 75%; }
  .column-10 {
    width: 83.33333%; }
  .column-11 {
    width: 91.66667%; }
  .column-12 {
    width: 100%; } }

/* Presets */
.text-center {
  text-align: center; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

/* Test 1 */
.col-4 {
  width: 20px; }

.calc {
  width: 500px;
  height: 500px; }
  .calc .calc-area {
    text-align: right;
    padding-right: 30px; }
  .calc td {
    text-align: center;
    width: 20%;
    font-size: 18px; }
    .calc td:hover {
      background: #f1f1f1; }

/* Teste 2 e Teste 4*/
#t2,
#t4 {
  background-image: url(../img/background_pattern.jpg);
  background-size: 82px 82px;
  background-position: center center;
  color: #3c3e40;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  margin-bottom: 50px; }
  #t2 .menu,
  #t4 .menu {
    margin: 50px 0 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    #t2 .menu li,
    #t4 .menu li {
      display: inline-block;
      margin-right: 20px;
      position: relative; }
      #t2 .menu li:before,
      #t4 .menu li:before {
        content: "";
        width: 0%;
        height: 2px;
        background-color: #27292b;
        position: absolute;
        left: 0;
        top: -4px;
        transition: .2s ease-in-out; }
      #t2 .menu li:last-child,
      #t4 .menu li:last-child {
        margin-right: 0; }
      #t2 .menu li a,
      #t4 .menu li a {
        color: #27292b;
        font-weight: bold;
        font-size: 12px; }
  #t2 .logo,
  #t4 .logo {
    position: relative;
    text-align: center;
    padding: 20px 0;
    border-top: 5px solid #27292b;
    border-bottom: 5px solid #27292b; }
    #t2 .logo:before, #t2 .logo:after,
    #t4 .logo:before,
    #t4 .logo:after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      background-color: #27292b; }
    #t2 .logo:before,
    #t4 .logo:before {
      top: 3px; }
    #t2 .logo:after,
    #t4 .logo:after {
      bottom: 3px; }
  #t2 .banner,
  #t4 .banner {
    margin: 25px 0; }
  #t2 .title,
  #t4 .title {
    font-family: "Sintony", sans-serif;
    margin: 0 0 25px 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    padding: 4px 0 4px 13px;
    border-left: 6px solid #252525; }
  #t2 .content,
  #t4 .content {
    font-style: italic; }
    #t2 .content p,
    #t4 .content p {
      margin-bottom: 40px;
      line-height: 28px;
      hyphens: auto; }
  #t2 .gallery .image,
  #t4 .gallery .image {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px; }
    #t2 .gallery .image:after,
    #t4 .gallery .image:after {
      content: attr(data-caption);
      position: absolute;
      padding: 5px;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #fff;
      background-color: rgba(39, 41, 43, 0.5);
      transition: 0.6s cubic-bezier(0.46, 0.32, 0.45, 1.02); }
    #t2 .gallery .image img,
    #t4 .gallery .image img {
      vertical-align: top; }

@media only screen and (min-width: 1024px) {
  #t2 .menu li:hover:before,
  #t4 .menu li:hover:before {
    width: 100%; }
  #t2 .gallery .image,
  #t4 .gallery .image {
    margin-bottom: 0; }
    #t2 .gallery .image:after,
    #t4 .gallery .image:after {
      bottom: -30px; }
    #t2 .gallery .image:hover:after,
    #t4 .gallery .image:hover:after {
      bottom: 0px; } }

.section-main {
  width: 500px;
  margin: 0 auto;
  position: relative; }

.map-box {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  margin-top: 200px;
  left: -100px;
  border-bottom: 3px solid #e00;
  border-right: 3px solid #e00; }

.map-box:before {
  content: "";
  width: 200px;
  right: -200px;
  position: absolute;
  border-bottom: 3px solid #e00; }

.box-move {
  width: 30px;
  height: 30px;
  background-color: #ee0;
  position: absolute;
  border: 1px solid #333;
  left: 34px;
  bottom: -15px;
  border-radius: 100%;
  animation: box 5s linear infinite alternate; }

@keyframes box {
  33.33% {
    bottom: -15px;
    left: 234px;
    background-color: #0F0; }
  66.666% {
    bottom: 185px;
    left: 234px;
    background-color: #00F;
    border-radius: 50%; }
  100% {
    bottom: 185px;
    left: 434px;
    background-color: #FFF;
    border-radius: 0; } }
