/* Helpers */

// Vars
$grid-columns: 12;
$grid-max-width: 1150px;
$gutter: 10px;

// breakpoints
$breakpoint-small: "only screen and (min-width: 768px)";
$breakpoint-medium: "only screen and (min-width: 1024px)";

// Colors
$gray: #27292b; // menu e linha logo
$dark-gray: #252525; // linha titulo
$text: #3c3e40;

// Fonts
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, Times, 'Times New Roman', serif;
$sintony: 'Sintony', sans-serif;

/* Grid */
@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;	
	@include border-box;
}
%clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.container,
.row {
	@extend %clearfix;
}


.container {
	width: 100%;
	margin: 0 auto;
}

[class*='column-'] {
	float: left;
	padding: 0 $gutter;
	width: 100%;
	min-height: 1px;
}

@media #{$breakpoint-small} {
.row {
	margin: 0 -#{$gutter};
}
	.container {
		width: 95%;
		max-width: $grid-max-width;
	}
	@for $i from 1 through $grid-columns {
		.column-#{$i} {
			width: 100% / $grid-columns * $i;
		}
	}
}

/* Presets */
.text-center {
	text-align: center;
}

img {
	width: auto;
	max-width: 100%;
	height: auto !important;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
}
