/* Test 1 */
.col-4{
	width: 20px;
}

.calc {
	width: 500px;
	height: 500px;
	.calc-area{
		text-align: right;
		padding-right: 30px;
	}
	td{
		text-align: center;
		width: 20%;
		font-size: 18px;
		&:hover {
			background: #f1f1f1;
		}
	}
}