/* Teste 2 e Teste 4*/
#t2,
#t4 {
	background-image: url(../img/background_pattern.jpg);
	background-size: 82px 82px;
	background-position: center center;
	color: $text;
	font-family: $georgia;
	font-size: 14px;

	margin-bottom: 50px;

	.menu {
		margin: 50px 0 25px;
		font-family: $helvetica;
		li {
			display: inline-block;
			margin-right: $gutter*2;
			position: relative;
			&:before {
				content: "";
				width: 0%;
				height: 2px;
				background-color: $gray;
				position: absolute;
				left: 0;
				top: -4px;

				transition: .2s ease-in-out;
			}
			&:last-child {
				margin-right: 0;
			}
			a {
				color: $gray;
				font-weight: bold;
				font-size: 12px;
			}
		}
	}

	.logo {
		position: relative;
		text-align: center;
		padding: $gutter*2 0;
		border-top: 5px solid $gray;
		border-bottom: 5px solid $gray;
		&:before,
		&:after {
			content: "";
			width: 100%;
			height: 2px;
			position: absolute;
			left: 0;
			background-color: $gray;
		}
		&:before {
			top: 3px;
		}
		&:after {
			bottom: 3px;
		}
	}

	.banner {
		margin: 25px 0;
	}


	.title {
		font-family: $sintony;
		margin: 0 0 25px 0;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 18px;
		padding: 4px 0 4px 13px;
		border-left: 6px solid $dark-gray;
	}

	.content {
		font-style: italic;
		p {
			margin-bottom: 40px;
			line-height: 28px;
			hyphens: auto;
		}
	}

	.gallery {
		.image {
			position: relative;
			overflow: hidden;
				margin-bottom: $gutter;
			&:after {
				content: attr(data-caption);
				position: absolute;
				padding: 5px;
				bottom: 0;
				left: 0;
				width: 100%;
				color: #fff;
				background-color: rgba($gray, 0.5);

				transition: .6s cubic-bezier(.46,.32,.45,1.02);
			}
			img {
				vertical-align: top;
			}
		}
	}

}

@media #{$breakpoint-medium} {
	#t2,
	#t4 {
		.menu {
			li {
				&:hover {
					&:before {
						width: 100%;
					}
				}
			}
		}
		.gallery {
			.image {
				margin-bottom: 0;
				&:after {
					bottom: -30px;
				}
				&:hover {
					&:after {
						bottom: 0px;
					}
				}
			}
		}
	}
}

