<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Layout</title>
	<link href='https://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../common/css/main.css">

</head>
<body id="t4">
	<div class="container">

		<script type="text/html" id="template">
			<div class="row">
				<div class="column-12">
					<nav class="menu">
						<ul>
							{{#menu}}
							<li>
								<a href="{{link}}">{{title}}</a>
							</li>
							{{/menu}}
						</ul>
					</nav>
				</div>
			</div>

			<div class="row">
				<div class="column-12">
					<div class="logo">
						<a href="#">
							<img src="{{company.logo.url}}" alt="{{company.name}}" title="{{company.name}}">
						</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="column-12">
					<div class="banner">
						<img src="{{banner.url}}" alt="{{banner.description}}">
					</div>
				</div>
			</div>

			<div class="row">
				{{#content}}
				<div class="column-6">
					<h3 class="title">{{title}}</h3>
					<div class="content">
						{{{ description }}} 
					</div>
				</div>
				{{/content}}
			</div>

			<div class="row text-center gallery">
				{{#gallery}}
				<div class="column-4">
					<div class="image" data-caption="{{description}}">
						<img src="{{url}}" alt="{{description}}">
					</div>
				</div>
				{{/gallery}}
			</div>
		</script>
	</div>

	<script>
		console.log('Utilize o layout construído na atividade 2 e faça a integração \n'+
			'com algum framework ou biblioteca de template para que o conteúdo da página \n'+
			'seja carregado a partir de um arquivo JSON');

		console.log('Dica: handlebarsjs, mustachejs, angularjs');
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="../common/vendor/mustachejs.js" type="text/javascript"></script>
	<script src="main.js" type="text/javascript"></script>

</body>
</html>